@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    margin: 0;
}

.hero {
    /* The image used */
    background-image: url('./images/fondoanimado.svg');

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section {
    height: 100vh;
    background: linear-gradient(180deg, #151361 0%, #110945 100%);
}
.blur {
    position: absolute;
    height: 10vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
    /* difuminado */
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
}
#blur1 {
    bottom: -5vh;
}
#blur2 {
    bottom: -105vh;
}
#blur3 {
    bottom: -205vh;
}
#blur4 {
    bottom: -305vh;
}

#title {
    margin: 0;
    position: absolute;
    left: 10vw;
    top: 23vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}
p {
    margin: 0;
}
#hello {
    background: #ffdd63;
    background: -webkit-linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    background: -moz-linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#name {
    color: white;
}
#position {
    color: #589bff;
}
#description {
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
    width: 580px;
}
#viewWorkbtn {
    margin-top: 20px;
    position: relative;
    color: white;
    display: flex;
    border: 1px solid white;
    width: 210px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}
#viewWorkbtn > div {
    margin-right: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
#viewWorkbtn > i {
    font-size: 25px;
}
#viewWorkbtn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #ffdd35 0%, #ff9d41 100%);
    border: 0px;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
