@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    /* The image used */
    background-image: url('./images/fondoanimado.svg');

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section {
    height: 100vh;
    background: linear-gradient(180deg, #151361 0%, #110945 100%);
    background-image: url('./images/sectionsBackground.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blur {
    position: absolute;
    height: 10vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
    /* difuminado */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    bottom: -5vh;
    z-index: 2;
}

#title {
    margin: 0;
    position: absolute;
    left: 10vw;
    top: 23vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}
p {
    margin: 0;
}
#hello {
    background: #ffdd63;
    background: -webkit-linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    background: -moz-linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#name {
    color: white;
}
#position {
    color: #589bff;
}
#description {
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
    width: 580px;
}
#viewWorkbtn {
    margin-top: 20px;
    position: relative;
    color: white;
    display: flex;
    border: 1px solid white;
    width: 210px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}
#viewWorkbtn > div {
    margin-right: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
#viewWorkbtn > i {
    font-size: 25px;
}
#viewWorkbtn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #ffdd35 0%, #ff9d41 100%);
    border: 0px;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    text-decoration: none;
    line-height: 30px;
}

nav {
    z-index: 2;
    position: absolute;
    top: 5vh;
    left: 10vw;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
a {
    font-weight: normal;
    color: white;
}
#contactBtn {
    background: linear-gradient(90deg, #2132ce 0%, #4095d2 100%);
    border-radius: 10px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #ffffff;
    margin-top: 60px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: hsla(0, 0%, 100%, 0.5);
    text-decoration-thickness: 5px;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section > h3 {
    margin-top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    width: 650px;
    text-align: center;
    margin-bottom: 0px;

    background: #adbfff;
    background: -webkit-linear-gradient(to bottom, #adbfff 0%, #92aaff 100%);
    background: -moz-linear-gradient(to bottom, #adbfff 0%, #92aaff 100%);
    background: linear-gradient(to bottom, #adbfff 0%, #92aaff65 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo {
    width: 70vw;
}

.project {
    width: 31%;
    height: 45%;
    background-color: #ffffff;
    border-radius: 5px;

    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.grid {
    z-index: 2;
    position: relative;
    width: 120vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#one {
    background-image: url('./images/project1Thumbnail.jpg');
}
#two {
    background-image: url('./images/project2Thumbnail.jpg');
}
#three {
    background-image: url('./images/project3Thumbnail.jpg');
}
#four {
    background-image: url('./images/project4Thumbnail.jpg');
}
#five {
    background-image: url('./images/project5Thumbnail.jpg');
}
#six {
    background-image: url('./images/project6Thumbnail.png');
}
#cp1 {
    position: absolute;
    left: -150px;
    bottom: -70px;
}
#rb2 {
    position: absolute;
    left: -150px;
    top: -40px;
    z-index: -1;
}
#cp2 {
    position: absolute;
    right: -70px;
    top: -80px;
    z-index: -1;
}
#tp1 {
    position: absolute;
    right: -180px;
    bottom: 15px;
}
#tp2 {
    position: absolute;
    right: -200px;
    top: 45%;
}
#tr {
    position: absolute;
    left: -100px;
    top: 35%;
}
#cg {
    position: absolute;
    right: -150px;
    bottom: 28%;
}
#cb {
    position: absolute;
    right: -130px;
    top: 20%;
}
#tp3 {
    position: absolute;
    left: -200px;
    bottom: 35%;
}
/*ipad pro*/
@media (max-width: 1630px) {
    .grid {
        width: 85vh;
        height: 70vh;
    }
}

@media (max-width: 1300px) {
    .grid {
        width: 85vh;
        height: 70vh;
    }
    #cb,
    #cg,
    #tp3,
    #tp2 {
        display: none;
    }
}
@media (max-width: 1250px) {
    .grid {
        width: 50vh;
        height: 72vh;
    }
    .project {
        width: 48%;
        height: 31%;
    }
}
@media (max-width: 1024px) {
    #tp1 {
        right: -150px;
    }
    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        flex-wrap: wrap;
        height: 100px;
        justify-content: space-around;
    }
    #title {
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #hello {
        font-size: 7vw;
        outline: none;
        border: none;
    }
    #name {
        font-size: 7vw;
    }
    #position {
        width: max-content;
        font-size: 7vw;
        align-self: center;
    }
    #description {
        text-align: center;
        align-self: center;
        width: 58vw;
        font-size: 3vw;
        line-height: 4.5vw;
    }
    #title > a {
        align-self: center;
    }
}
@media (max-width: 900px) {
    #tp1,
    #rb2,
    #cp1,
    #tr,
    #cp2 {
        display: none;
    }
}
@media (max-width: 730px) {
    section > h3 {
        width: 80%;
    }
    nav {
        width: 300px;
    }
    #description {
        font-size: 4vw;
        width: 65vw;
        line-height: 5vw;
    }
    #About > h3 {
        font-size: 5vw;
    }
}
@media (max-width: 500px) {
    #title {
        top: 50%;
    }
    #description {
        width: 315px;
        font-size: 6vw;
        line-height: 8vw;
    }
}
@media (max-width: 376px) {
    .grid {
        width: 40vh;
        height: 75vh;
    }
}
