@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    /* The image used */
    background-image: url('./images/fondoanimado.svg');

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section {
    height: 100vh;
    background: linear-gradient(180deg, #151361 0%, #110945 100%);
    background-image: url('./images/sectionsBackground.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#About {
    background-image: url('./images/staticAstronautBig.svg');
    background-color: #110945;
}
#Blog {
    background-image: url('./images/blog2.svg');
}
.blur {
    position: absolute;
    height: 10vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
    /* difuminado */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    bottom: -5vh;
    z-index: 2;
}

#title {
    margin: 0;
    position: absolute;
    left: 10vw;
    top: 23vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}
p {
    margin: 0;
}
#hello {
    background: -webkit-linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    background: -moz-linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffdd63 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#name {
    color: white;
}
#position {
    color: #589bff;
}
#description {
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
    width: 580px;
}
#viewWorkbtn {
    margin-top: 20px;
    position: relative;
    color: white;
    display: flex;
    border: 1px solid white;
    width: 210px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}
#viewWorkbtn > div {
    margin-right: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
#viewWorkbtn > i {
    font-size: 25px;
}
#viewWorkbtn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #ffdd35 0%, #ff9d41 100%);
    border: 0px;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    text-decoration: none;
    line-height: 30px;
}

nav {
    z-index: 2;
    position: absolute;
    top: 5vh;
    left: 10vw;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
a {
    font-weight: normal;
    color: white;
}
#contactBtn {
    background: linear-gradient(90deg, #2132ce 0%, #4095d2 100%);
    border-radius: 10px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #ffffff;
    margin-top: 60px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: hsla(0, 0%, 100%, 0.5);
    text-decoration-thickness: 5px;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blogLink {
    margin-top: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #41c9ff;
}
#blogLink > h2 {
    margin-top: 0px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 22px;
    color: #41c9ff;
}
section > h2 {
    margin-top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    width: 650px;
    text-align: center;
    margin-bottom: 0px;

    background: #adbfff;
    background: -webkit-linear-gradient(to bottom, #adbfff 0%, #92aaff 100%);
    background: -moz-linear-gradient(to bottom, #adbfff 0%, #92aaff 100%);
    background: linear-gradient(to bottom, #adbfff 0%, #92aaff65 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo {
    width: 70vw;
}

.project {
    width: 31%;
    height: 45%;
    background-color: #ffffff;
    border-radius: 5px;

    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.grid {
    z-index: 2;
    position: relative;
    width: 120vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#one {
    background-image: url('./images/first_project.png');
}
#two {
    background-image: url('./images/second_project.png');
}
#three {
    background-image: url('./images/nasa.png');
}
#four {
    background-image: url('./images/todo.png');
    background-position: center;
}
#five {
    background-image: url('./images/weatherApp.png');
    background-position: center;
}
#six {
    background-image: url('./images/travelApp.png');
    background-position: center;
}

.project:hover > .projectContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    color: white;
}

.projectContent {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #07070770;
}
.projectContent > div {
    width: 60%;
    text-align: center;
}
.projectContent > a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    transition: 0.3s;
}
.projectContent > a:hover {
    background-color: white;
    color: black;
}
#cp1 {
    position: absolute;
    left: -150px;
    bottom: -70px;
}
#rb2 {
    position: absolute;
    left: -150px;
    top: -40px;
    z-index: -1;
}
#cp2 {
    position: absolute;
    right: -70px;
    top: -80px;
    z-index: -1;
}
#tp1 {
    position: absolute;
    right: -180px;
    bottom: 15px;
}
#tp2 {
    position: absolute;
    right: -200px;
    top: 45%;
}
#tr {
    position: absolute;
    left: -100px;
    top: 35%;
}
#cg {
    position: absolute;
    right: -150px;
    bottom: 28%;
}
#cb {
    position: absolute;
    right: -130px;
    top: 20%;
}
#tp3 {
    position: absolute;
    left: -200px;
    bottom: 35%;
}

#container {
    margin-top: 3vh;
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

form {
    color: white;
    background: rgba(158, 209, 255, 0.15);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 5px;
    height: 60vh;
    width: 65vh;
    position: relative;
}
form > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 35px;
    font-size: 1.3em;
}
label {
    font-family: Montserrat;
    font-size: 1em;
    margin-bottom: 10px;
}
#mailContainer,
#phoneContainer,
#nameContainer {
    display: flex;
    flex-direction: column;
}

#smallInputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 35px;
}
#inputs {
    display: flex;
    height: 60%;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 35px;
}
textarea {
    width: 100%;
    height: 92%;
    margin-top: 10px;
}
input,
textarea {
    background-color: rgba(255, 255, 255, 0.212);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}
#submit {
    text-align: center;
    line-height: 35px;
    font-family: Montserrat;
    position: absolute;
    width: 150px;
    height: 35px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    /* gradientGreen */

    background: linear-gradient(90deg, #21ce7b 0%, #4095d2 100%);
    border-radius: 20px;
}
#submit:hover {
    cursor: pointer;
}
input {
    height: 35px;
}

/*ipad pro*/
@media (max-height: 800px) {
    #About {
        background-image: url('./images/staticAstrounatNormal.svg');
    }
}
@media (max-width: 1630px) {
    .grid {
        width: 85vh;
        height: 70vh;
    }
}

@media (max-width: 1300px) {
    .grid {
        width: 85vh;
        height: 70vh;
    }
    #cb,
    #cg,
    #tp3,
    #tp2 {
        display: none;
    }
}
@media (max-width: 1250px) {
    .grid {
        width: 50vh;
        height: 72vh;
    }
    .project {
        width: 48%;
        height: 31%;
    }
}
@media (max-width: 1024px) {
    #tp1 {
        right: -150px;
    }
    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        flex-wrap: wrap;
        height: 100px;
        justify-content: space-around;
    }
    #title {
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #hello {
        font-size: 7vw;
        outline: none;
        border: none;
    }
    #name {
        font-size: 7vw;
    }
    #position {
        width: max-content;
        font-size: 7vw;
        align-self: center;
    }
    #description {
        text-align: center;
        align-self: center;
        width: 58vw;
        font-size: 3vw;
        line-height: 4.5vw;
    }
    #title > a {
        align-self: center;
    }
}
@media (max-width: 900px) {
    #tp1,
    #rb2,
    #cp1,
    #tr,
    #cp2 {
        display: none;
    }
}
@media (max-width: 730px) {
    section > h2 {
        width: 80%;
    }
    nav {
        width: 300px;
    }
    #description {
        font-size: 4vw;
        width: 65vw;
        line-height: 5vw;
    }
    #About > h2 {
        font-size: 20px;
    }
    #phoneContainer {
        display: none;
    }
    #inputs {
        display: flex;
        flex-direction: column;
    }
    #smallInputs {
        width: 100%;
    }
    form {
        height: 60vh;
        width: 40vh;
    }
    #mailContainer,
    #nameContainer {
        margin-bottom: 15px;
    }
    #container {
        width: 200px;
    }
    input {
        height: 15px;
        border-radius: 15px;
    }
    textarea {
        height: 80%;
    }
    #About {
        background-image: url('./images/staticAstronautSmall.svg');
    }
}
@media (max-width: 500px) {
    #hello {
        color: #ffdd35;
        background: initial;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
    }
    #title {
        top: 50%;
    }
    #description {
        width: 315px;
        font-size: 6vw;
        line-height: 8vw;
    }
    #Contact > h2 {
        font-size: 18px;
    }
    #container {
        width: 300px;
        transform: scale(0.5);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    form > h1 {
        display: none;
    }
}
@media (max-width: 376px) {
    .grid {
        width: 40vh;
        height: 70vh;
    }
    textarea {
        height: 15vh;
    }
    #Contact > h2 {
        font-size: 15px;
    }
    form {
        width: 90vw;
    }
}
@media (max-width: 290px) {
    nav {
        width: 280px;
    }
    #description {
        width: 275px;
    }
    #About > h2 {
        font-size: 15px;
    }
    #hello {
        font-size: 30px;
    }
    #name {
        font-size: 25px;
    }
}
